<nav class="navbar is-primary">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <%= image_tag "logo.png", alt: "Clubhouse logo" %>&nbsp;
      <h1 class="title is-5">Clubhouse</h1>
    <% end %>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to root_path, class: "navbar-item" do %>
        <p class="navbar-item">Home</p>
      <% end %>

      <div class="navbar-item has-dropdown is-hoverable">
        <p class="navbar-link">Clubs</p>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="">
            Business
          </a>
          <a class="navbar-item" href="">
            Cooking
          </a>
          <a class="navbar-item" href="">
            Movies
          </a>
          <a class="navbar-item" href="">
            Music
          </a>
          <a class="navbar-item" href="">
            Sports
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <% if user_signed_in? %>
            <p class="control">
              <%= link_to edit_user_registration_path, class: "button is-info" do %>
                <span class="icon">
                  <i class="fas fa-user"></i>
                </span>
                <span>u/<%= current_user.username %></span>
              <% end %>
            </p>
            <p class="control">
              <%= link_to destroy_user_session_path, method: :delete, class: "button is-primary" do %>
                <span class="icon">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>Logout</span>
              <% end %>
            </p>
          <% else %>
            <p class="control">
              <%= link_to new_user_registration_path, class: "button is-info" do %>
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span>Sign up</span>
              <% end %>
            </p>
            <p class="control">
              <%= link_to new_user_session_path, class: "button is-primary" do %>
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Sign in</span>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>